*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  /* color variables */
  --black-dark: #000;
  --black-light: #121212;
  --black-light-v1: #171717;
  --black-light-v2: #212121;
  --black-light-v3: #242424;
  --grey: #b3b3b3;
  --grey-description: #a7a7a7;
  --grey-light-hover: #b9b9b9;
  --grey-light-hover: #c1c1c1;
  --white: #fff;
  --green-accent: #1ed760;
}

/* font variables */
@font-face {
  font-family: --bold;
  src: url(/1_spotify_clone/fonts/CircularSpTitle-Bold.woff2) format("woff2");
}

@font-face {
  font-family: --normal;
  src: url(/1_spotify_clone/fonts/CircularSp-Book.woff2) format("woff2");
}

@font-face {
  font-family: --extra-large;
  src: url(/1_spotify_clone/fonts/CircularSpTitle-Black.woff2) format("woff2");
}